.menu{
    display: none;
}

@media screen and (max-width: 800px){
    .menu{
        display: none;
    }

    .menu.active{
        position: fixed;

        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;

        left: 0;
        top: 0;

        z-index: 1;

        background-image: linear-gradient(180deg, rgba(45,49,77,0.8911939775910365) 2%, rgba(255,255,255,0) 100%);
    }

    .menu.active div{
        width: 85vw;
        min-height: 40vh;
        height: max-content;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--white);

        border-radius: 5px;

        margin-top: 13vh;
    }

    .menu.active div ul{
        list-style-type: none;

        margin: 0;
        padding: 0;
    }

    .menu.active li{
        text-align: center;

        margin-block: 3vh;
    }

    .menu.active a{
        font-size: 1.25rem;
        font-weight: 400;

        text-decoration: none;

        color: var(--darkBlue);
    }

    .menu.active a:hover{
        color: var(--limeGreen);
    }
}