.containerArticles{
    display: flex;
    column-gap: 1.5vw;

    margin-top: 6vh;
}

.article{
    background-color: var(--white);
}

.article div{
    padding: 20px;
}

.article img{
    width: 100%;

    aspect-ratio: 1.4/1;

    border-radius: 5px 5px 0 0;
}

.article address{
    font-size: clamp(0.75rem, 0.662rem + 0.376vw, 1rem);
    font-weight: 300;

    color: var(--grayishBlue);
}

.article a{
    text-decoration: none;
}

.article h2{
    font-size: clamp(1.125rem, 1.037rem + 0.376vw, 1.375rem);
    font-weight: 400;

    text-align: start;

    color: var(--darkBlue);
}

.article h2:hover{
    color: var(--limeGreen);
}

.article p{
    font-size: clamp(0.875rem, 0.831rem + 0.188vw, 1rem);
    font-weight: 400;

    color: var(--grayishBlue);

    text-align: start;
}

@media screen and (max-width: 1000px){
    .containerArticles{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-gap: 1.5vh 3vw;
    }
}

@media screen and (max-width: 550px){
    .containerArticles{
        display: flex;
        flex-direction: column;
        row-gap: 4vh;

        margin-top: 5vh;
    }

    .article{
        width: 100%;
    }
    
    .article div{
        padding: 25px 15px;
    }

    .article img{
        aspect-ratio: 1.5/1;
    }
}