.containerBenefits{
    display: flex;
    column-gap: 1.5vw;

    margin-top: 10vh;
}

.benefit h2{
    font-size: clamp(1.25rem, 1.14rem + 0.469vw, 1.563rem);
    font-weight: 400;

    color: var(--darkBlue);
}

.benefit p{
    font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
    font-weight: 400;

    color: var(--grayishBlue);

    text-align: start;
}

@media screen and (max-width: 1000px){
    .containerBenefits{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-gap: 1.5vh 3vw;
    }
}

@media screen and (max-width: 550px){
    .containerBenefits{
        display: flex;
        flex-direction: column;
        grid-gap: 3vh 0;
    
        margin-top: 4.5vh;
    }

    .benefit{
        width: 100%;
    }

    .benefit h2, .benefit p{
        text-align: center;
    }
}