.btnRequest{
    width: 11vw;
    height: 5vh;

    font-weight: 700;

    color: var(--white);

    background: linear-gradient(110deg, rgba(49,211,92,1) 15%, rgba(43,183,208,1) 100%);

    border: 0;
    border-radius: 50px;
}

.btnRequest:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .btnRequest{
        width: 38vw;
        height: 5vh;
    }
}