.containerBenefits{
    display: flex;
    column-gap: 1.5vw;

    margin-top: 10vh;
}

.benefit h1{
    font-size: 25px;
    font-weight: 400;

    color: var(--darkBlue);
}

.benefit p{
    font-size: 18px;
    font-weight: 400;

    color: var(--grayishBlue);

    text-align: left;
}

@media screen and (max-width: 800px){
    .containerBenefits{
        flex-direction: column;
        column-gap: 0;
        row-gap: 3vh;
    
        margin-top: 4.5vh;
    }

    .benefit{
        width: 100%;
    }

    .benefit h1, .benefit p{
        text-align: center;
    }

    .benefit h1{
        font-size: 20px;
    }

    .benefit p{
        font-size: 14px;
    }
}